---
import SectionTitle from "../components/SectionTitle.astro";

const works = await Astro.glob("../works/*.md");
const sortedWorks = works.sort((a,b) => (a.frontmatter.date > b.frontmatter.date) ? -1 : (b.frontmatter.date > a.frontmatter.date ? 1 : 0));
---
<section id="work" class="mb-12">
    <div>
        <SectionTitle title="My Work" />
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {
                sortedWorks.map((work) => (
                    <div class="card h-full w-full flex flex-col">
                        <div class="relative w-full mb-4 flex flex-2 min-h-[220px] justify-center items-start">
                            <img 
                                src={work.frontmatter.image}
                                alt={work.frontmatter.title}
                                style="object-fit: contain; "
                            />
                        </div>

                        <div class="flex flex-1 flex-col justify-between">
                            <h3 class="text-lg mb-2">{work.frontmatter.title}</h3>

                            <ul class="text-sm leading-loose">
                                <li class="flex gap-2">
                                    <div>Company:</div>
                                    <div>{work.frontmatter.company}</div>
                                </li>
                                <li class="flex gap-2">
                                    <div>Type:</div>
                                    <div>{work.frontmatter.type}</div>
                                </li>
                                <li class="flex gap-2">
                                    <div>Duration:</div>
                                    <div>{work.frontmatter.duration}</div>
                                </li>
                                <li class="flex gap-2">
                                    <div>Stack:</div>
                                    <div>{work.frontmatter.stack}</div>
                                </li>
                            </ul>

                            <a href={`/${work.frontmatter.slug}`}><button class="primary-button w-full mt-4">Read More</button></a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>